@import url('https://fonts.googleapis.com/css?family=Karla|Frank+Ruhl+Libre:400,700');

* {
  box-sizing: border-box;
  font-family: 'Karla', Arial, sans-serif !important;
  color: #fff;
}

body {
  background: url("../img/random_Binary_Background.png");
}

.container,
.row {
  background: #20262E;
  padding-top: 0.2rem;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Frank Ruhl Libre', Arial, sans-serif !important;
  font-weight: bold !important;
}

p {
  color: white;
}

.white {
  color: white !important;
}

.jumbotron {
  color: black !important;
}

.display-1 {
  font-weight: bold !important;
}

.col-style {
  background: #30363E;
}

.rounded-edges {
  border-radius: 5px;
}

.this {
  color: #B896ED;
  background-color: #40464E;
  font-family: "Lucida Console", Monaco, monospace !important;
  text-align: center;
  padding: 0.2em 0.2em 0 0.2em;
  border-radius: 5px;
}

.answer {
  padding: 5px;
}

.answer:hover {
    background-color: #40464E;
    border-radius: 5px;
}

.answer.selected {
    background-color: #50565E;
    border-radius: 5px;
}

.answer.selected:hover{
    background-color: #50565E;
    border-radius: 5px;
}

.gotItWrong, #wrong {
    color: #f00;
    text-shadow:
    -1px -1px 0 #000,  
     1px -1px 0 #000,
     -1px 1px 0 #000,
      1px 1px 0 #000;
}

.gotIt, #correct {
    color: #0f0;
    text-shadow:
    -1px -1px 0 #000,  
     1px -1px 0 #000,
     -1px 1px 0 #000,
      1px 1px 0 #000;
}

.modal-header, .modal-body   {
  color: #000!important;
}
  
pre {
  color: #fff!important;
}

#answers {
  list-style: none;
  padding-left: 0;
}

hr {
  border-color: #50565E;
}